@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root{
    --color-description-text: #585C7B;
    --color-title-text: #131022;
    --color-accent: #6366F1;
    --color-base: #fff;
    --color-detail: #F3F6FF;
}
body{
    height: 100dvh;
    margin: 0px;
    padding: 1rem;
}
    
h1,h2,h3,h4,h5 {
    color: var(--color-title-text);
}

p {
    color: var(--color-description-text);
    line-height: 22px;
}
button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 162px;
    background-color: var(--color-accent);
    color: var(--color-base);
    border: none;
    border-radius: 6px;

    &:hover{
        background-color: black;
    }
    &:active{
        background-color: rgb(0, 185, 40);
    }
}
.contact{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.hero-page{
    background: radial-gradient(ellipse at bottom, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(0, 0, 0, 0.07) 83%);
    height: 62dvh;
}
.header-container { 
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    .header-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
             .actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
        }
    }

    .nav{
        width: 40px;
        height:36px;
        flex-shrink: 0;
        object-fit: contain;
        margin-bottom: .15rem ;
    }

    .account{
        display: none;

        @media (width >= 1320px) {
            display: flex;
        }
    }
}
.toggle{
    --_w: 46px;
    --_h: 24px;

    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider{
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: grey;
        border-radius: 100vw;
        box-shadow: 0 0 5px #0000034e;

        transition: 400ms;

        &::before{
            content:'';
            position: absolute;
            height: 80%;
            aspect-ratio: 1;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 5px #00000038;
            transition: 400ms;
            top: 2px;
            left: 3px;
        }
    }

    input[type="checkbox"]:checked + .slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--color-base);
    }
        input[type="checkbox"]:checked + .slider{
        background-color:var(--color-accent);
    }

}



.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    .hero-headline{
        font-weight: 900;
        color: var(--color-title-text);
        width: 350px;
        height: 88px;
        font-size: 34px;
    }

    .hero-paragraph{
        font-weight: 400;
        line-height:25px;
        width: 370px;
        height: 115px;
        font-size: 18px;
       
    }

    .links{
        justify-content: center;
        line-height: 50px;
    }
}


.feature-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    .feature-item{
        display: flex;
        align-items: flex-start;
        gap: 2rem;
}

    .feature-icon{
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        object-fit: contain;
        margin-top: 1rem;
}

    .feature-content{
        max-width: 600px;
    }

    .feature-headline{
        font-size: 20px;
    }

    .feature-description{
        margin: 0;
        width: 280px;
    }

    #headline-title{
        font-size: 28px;
    }

    #headline-description{
        font-size: 18px;
    }
}

.HDIT{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #F3F6FF;

    .image-stack{
        position: relative;
        width: 270px;
        height: 545px;
    }
    .stacked-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
        height: 545px;
        object-fit: cover;
    }
    #HDITh2{
        font-size: 22px;
        font-weight: 800;
        color: #131022;
    }
    #HDIT-description{
        font-size: 16px;
        font-weight: 400;
    }
}

.FAQ-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.FAQ{
    gap: 2rem;
    padding: .5rem;


    .FAQ-list{
        position: relative;
        width: 100%;

    }

    .FAQ-box{
        position: relative;
        cursor: pointer;
        border: 1px solid gainsboro;
        padding: 8px;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;


        &.active .FAQ-arrow-circle{
            background-color: var(--color-accent);

        }
        &.active .FAQ-arrow{
            transform: rotate(225deg);
            width: 8px;
            height: 8px;
            border:2px solid var(--color-detail);
            border-top: none;
            border-left: none;
        }
        &.active + .FAQ-descriptions {
            display: block;
        }

        .FAQ-selected{
            font-size:1rem;
            width:300px;
            font-weight: 600;
        }
        .FAQ-arrow-circle{
            cursor: pointer;
            width: 32px;
            height: 32px;
            background-color: var(--color-detail);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        

        }
        .FAQ-arrow{
            width: 8px;
            height: 8px;
            border:2px solid var(--color-description-text);
            border-top: none;
            border-left: none;
            transform: rotate(45deg)
            
        }
    }
   
    .FAQ-descriptions{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid gainsboro;
        border-top: None;
        display: none;
    }

    .FAQ-descriptions.active{
    display: block;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    }
    
    .FAQ-description{
        font-size: 14px;
        padding: 1rem;
        margin: 10px;
        cursor: pointer;
        transition: back;
    }
    .FAQ-description p {
        margin-top: 1.5em;
    }
}

.newsletter-box{

    height: 251px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 8px;

    background-color: var(--color-detail);

    #newsletter-icon{
        width: 78px;
        height: 93px;
        flex-shrink: 0;
        object-fit: contain;

    }
    #newsletter-headline{
        width: 230px;
    }
}
footer{

    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .hero{
        
        display: flex;
        height: 768px;
        margin: 0px;      
        flex-direction: column;

        .hero-headline{
            font-weight: 900;
            width: 300px;
            height: 88px;
            font-size: 34px;
        }

        .hero-paragraph{
            font-weight: 200;
            line-height:25px;
            width: 320px;
            height: 115px;
            font-size: 18px;
        }

        .links{
            display: flex;
            justify-content: center;
            line-height: 50px;
            border: 1px solid red;
        }
    }   

    .sign-in-button-img{
        background-color: #6366F1;
        color: white;
        height: 50px;
        border-radius: 10px;
        border: none;
        outline: none;
        width: 120x;
        height: 50px;  
        display: none;
    }
    .dark-mode-txt{
        color: #585C7B;
        display: flex;
    }
    .header-container {
    display: flex;
    margin: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;


    .silicon-logo-img{
        flex: 4;
    }

    .dark-light-button{
        display: flex;
        justify-content: space-evenly;
        max-width: 80px;
        min-height: 30px;
        margin: 0 auto;
    }
    .Nav-toggle-img{
        max-width: 50px;
        
    }
    
}
}


@media (min-width: 1025px) {
    .hero{
        font-family: "Manrope", sans-serif;
        display: flex;
        height: 390px;
        margin: 0px;   
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        .hero-headline{
            font-weight: 900;
            color: #131022;
            width: 300px;
            height: 88px;
            font-size: 34px;
        }

        .hero-paragraph{
            font-weight: 200;
            color: #585C7B;
            line-height:25px;
            width: 320px;
            height: 115px;
            font-size: 18px;
        }

        .links{
            justify-content: center;
            line-height: 50px;
        }
    }   

    .sign-in-button-img{
        width: 120x;
        height: 50px;
        display: flex;
    }
    .Nav-toggle-img{
        display: none;
    }
    /* .dark-mode-txt{
        color: #131022;
        font-weight: 600;
        display: flex;
    } */
    .header-container {
    display: flex;
    margin: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

    .silicon-logo-img{
        flex: 4;
    }

    /* .dark-mode-txt{
        display: flex;
        justify-content: space-evenly;
        max-width: 90px;
        min-height: 30px;
        margin: 0 auto;
        color: #585C7B;
    } */
    .Nav-toggle-img{
        max-width: 50px;
        
    }
    
}
}


